<h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/show" method="post">
     <label for="name">Game's Name</label>
     <input id="name" name="name" type="text">
     <label for="rating">Rating</label>
     <input id="rating" name="rating" type="number">
     <button type="submit">Go!</button>
    </form>